---
import "../style/global.css";
export interface Props {
  size?: "small" | "medium" | "large";
  url?: string;
  text?: string;
  imgSrc?: string;
  alt?: string;
  bgColor?: string;
  borderClass?: string;
}

const {
  size = "medium",
  url = "#",
  text = "",
  imgSrc = "",
  alt = "",
  bgColor = "transparent",
  borderClass = "border-1 border-[var(--color-primary)]",
} = Astro.props;

const sizeClass = {
  small: "px-4 py-2.5 text-sm",
  medium: "px-6 py-3 text-base",
  large: "px-8 py-4 text-base",
};
---

<a
  href={url}
  class={`flex justify-between items-center h-[60px] px-4 py-2 text-[var(--color-primary)] ${borderClass} font-normal rounded-xl shadow-md transition duration-300 ease-in-out mb-5`}
  style={`background-color: ${bgColor};`}
>
  <span class="text-left">
    {text}
  </span>
  {imgSrc && <img src={imgSrc} alt={alt} class="w-8 h-8" />}
</a>
